* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --background-color: #F0F5F9;
   --card-color: #C9D6DF;
   --author-color: #52616B;
   --font-color: #1E2022;
}

body {
   background-color: var(--background-color);
   color: var(--font-color);
}

.book-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 1rem;
   padding: 0.3rem;
   height: 100vh;
   margin-top: 0.8rem;
}

.book-container .card {
   display: flex;
   justify-content: space-between;
   background-color: var(--card-color);
   border: 1px solid black;
   padding: 0.5rem;
}

.card .author {
   font-style: italic;
   font-size: 0.8rem;
   color: var(--author-color);
}

.card .pages {
   font-size: 0.8rem;
}

form {
   visibility: hidden;
}