* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --background-color: #F0F5F9;
   --card-color: #C9D6DF;
   --author-color: #52616B;
   --font-color: #1E2022;
   --button-color: #F4A261;
   --button-hover-color: #E68A4F;
   --button-active-color: #C96A2E;
   --input-background-color: #E8EEF2;
   --remove-button-color: #D9534F;
   --remove-button-hover-color: #A93E3A;
   --remove-button-active-color: #8F3532;
   --read-button-disable-color: #BFC8CE;
   --read-button-disable-hover-color: #AAB4BA;
   --read-button-disable-active-color: #949EA4;
   --read-button-enable-color: #4CAF50;
   --read-button-enable-hover-color: #449D48;
   --read-button-enable-active-color: #3A873E;
}

body {
   padding: 0.4rem;
   background-color: var(--background-color);
   color: var(--font-color);
}

input:hover {
   transform: scale(1.03);
   border: 1.5px solid black;
}

button:hover,
.card:hover {
   transform: scale(1.05);
}

button:active {
   transform: scale(0.98);
}

button {
   cursor: pointer;
}

.book-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 1rem;
   padding: 0.3rem;
   margin-top: 0.8rem;
}


.book-container .card {
   display: flex;
   justify-content: space-between;
   background-color: var(--card-color);
   border: 1px solid black;
   padding: 0.5rem;
   border-radius: 10px;
   transition: transform 0.3s ease;
}

.card .author {
   font-style: italic;
   font-size: 0.8rem;
   color: var(--author-color);
}

.card .pages {
   display: flex;
   font-size: 0.8rem;
   gap: 0.2rem;
}

.card .buttons {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 1rem;
}

.card button {
   text-align: center;
   width: 3.5rem;
   height: 3.5rem;
   font-size: 0.7rem;
   font-weight: 700;
   transition: background-color 0.2s ease, transform 0.2s ease;
}

.card .remove-button {
   background-color: var(--remove-button-color);
}

.card .remove-button:hover {
   background-color: var(--remove-button-hover-color);
}

.card .remove-button:hover:active {
   background-color: var(--remove-button-active-color);
}

.card .read-button {
   border-radius: 50%;
   background-color: var(--read-button-disable-color);
}

.card .read-button:hover {
   background-color: var(--read-button-disable-hover-color);
}

.card .read-button:hover:active {
   background-color: var(--read-button-disable-active-color);
}

.card .read-button.read {
   background-color: var(--read-button-enable-color);
}

.card .read-button.read:hover {
   background-color: var(--read-button-enable-hover-color);
}

.card .read-button.read:hover:active {
   background-color: var(--read-button-enable-active-color);
}

section button {
   padding: 0.3rem 0.5rem;
   border-radius: 8px;
   background-color: var(--button-color);
}

section button:hover {
   background-color: var(--button-hover-color);
}

section button:hover:active {
   background-color: var(--button-active-color);
}

section .add-button {
   margin: 0.3rem 0;
}

section .book-form {
   display: flex;
   align-items: center;
   visibility: hidden;
   gap: 0.8rem;
}

section .book-form.visible {
   visibility: visible;
}

.book-form #numPages {
   width: 4rem;
}

.book-form input {
   padding: 0.20rem;
   border-radius: 5px;
   border: 1px solid black;
   background-color: var(--input-background-color);
}

.book-form .form-section {
   display: flex;
   align-items: center;
   gap: 0.2rem;
}