 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .book-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }

 .book-container .card {
    border: 1px solid black;
 }